For Loop:

for var in iterable:
    do something...


1. break
2. continue
3. pass

In [3]:
name = "Maulik Raja"

In [8]:
for jatin in name:
    print(jatin)

M
a
u
l
i
k

R
a
j
a

In [9]:
jatin

'a'

In [16]:
for i in "True":
    print(i)

T
r
u
e

In [17]:
name

'Maulik Raja'

In [19]:
for i in enumerate(name):
    print(i)

(0, 'M')
(1, 'a')
(2, 'u')
(3, 'l')
(4, 'i')
(5, 'k')
(6, ' ')
(7, 'R')
(8, 'a')
(9, 'j')
(10, 'a')

In [20]:
name[6]

' '

In [22]:
num = 100000000111212002120212032011651602541320

In [23]:
num = str(num)

In [24]:

for i in num:
    print(i)

1
0
0
0
0
0
0
0
0
1
1
1
2
1
2
0
0
2
1
2
0
2
1
2
0
3
2
0
1
1
6
5
1
6
0
2
5
4
1
3
2
0

In [25]:
stri = "I hate Bananas"

In [26]:
for i in stri:
    print(i)

I

h
a
t
e

B
a
n
a
n
a
s

In [43]:
for i in stri:
    if i == "a":
        i = "A"
    print(i, end="")

I hAte BAnAnAs

In [42]:
print("Maulik", end=" su lakhu... ")
print("Raja")
print("123")

Maulik su lakhu... Raja
123

Nested for loops

for var in iterable:
    do something else...
    for var2 in iterable2:
        do something....
    do something more...

In [13]:
for i in range(5):
    for j in range(20):
        print("*", end=" ")
    print()

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *

1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1
1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1 0 1

In [14]:
for i in range (5):
    for j in range (0, 20,):
        print (j, end= " ")
    for k in range (0, 20,):
        print (k, end=" ")
    print()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [16]:
for i in range(5):
    for j in range(5):
        if j % 2 == 0:
            print("1", end=" ")
        else:
            print("0", end=" ")
    print()

1 0 1 0 1
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1

In [18]:
0/2

0.0

In [19]:
1/2

0.5

In [20]:
2/2

1.0

In [21]:
3/2

1.5

In [22]:
4/2

2.0

1 1 1 1 1
0 0 0 0 0
1 1 1 1 1
0 0 0 0 0
1 1 1 1 1

In [24]:
for i in range(5):
    for J in range(5):
        if i % 2 == 0:
            print("1", end=" ")
        else:
            print("0", end=" ")
    print()

1 1 1 1 1
0 0 0 0 0
1 1 1 1 1
0 0 0 0 0
1 1 1 1 1

In [34]:
for i in range(1, 5):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

1
1 0
1 0 1
1 0 1 0

1
0 0
1 1 1 
0 0 0 0

In [1]:
chr(65)

'A'

In [2]:
chr(66)

'B'

In [5]:
num = 65
for i in range(0, 5):
    for j in range(0, i+1):
        ch = chr(num)
        print(ch, end=" ")
    num = num + 1
    print()

A
B B
C C C
D D D D
E E E E E

In [9]:
# 1. break
# 2. continue
# 3. pass

for i in range(5):
    pass


print("Hello")

Hello

In [11]:
num = "65"
if num.isdigit():
    pass
else:
    pass
    # TODO: dsajcvnoas

In [18]:
for i in range(11):
    if i == 5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9
10

In [19]:
for i in range(11):
    if i == 5:
        break
    else:
        print(i)

0
1
2
3
4