# basic data types in python:
### 1. String = string is represented within "" or ''
### 2. Int = any whole number is an integer in py and it does not have "" or ''
### 3. float = any decimal number is a float in py and it does not have "" or ''
### 4. bool = is either True or False

In [26]:
name = "Maulik"
name = 'Maulik'
stmt = "Hello welcome to Maulik's Py classes"
stmt = 'Hello welcome to Maulik\'s Py classes'

In [27]:
stmt

"Hello welcome to Maulik's Py classes"

In [28]:
name

'Maulik'

In [29]:
type(name)

str

In [30]:
type(stmt)

str

In [42]:
name = "Chirag"

In [44]:
print(name)

Chirag

In [43]:
name

'Chirag'

In [34]:
type(name)

str

In [35]:
name = 123

In [36]:
type(name)

int

In [37]:
name

123

In [38]:
name = 1.23

In [39]:
type(name)

float

In [41]:
print(name)

1.23

In [45]:
name = True

In [46]:
type(name)

bool

In [47]:
name

True

In [16]:
123 - 100

23

In [15]:
1.23

1.23

In [17]:
True

True

In [51]:
name = "Maulik"
age = 26
lovesPy = True

In [52]:
lovesPython = True

In [58]:
stmt = "Hello, my name is " + name + " and I am " + str(age) + " years old. Do I love Py? " + str(lovesPy)

In [59]:
stmt

'Hello, my name is Maulik and I am 26 years old. Do I love Py? True'

In [ ]:
print("Hello, my name is " + name + " and I am " + str(age) + " years old. Do I love Py? " + str(lovesPy))

Hello, my name is Maulik and I am 26 years old. Do I love Py? True

In [60]:
print("Hello, my name is ", name , " and I am " , age , " years old. Do I love Py? " , lovesPy)

Hello, my name is  Maulik  and I am  26  years old. Do I love Py?  True

In [62]:
print("Hello, my name is {} and I am {} years old. Do I love Py? {}".format(age, lovesPy, name
))

Hello, my name is 26 and I am True years old. Do I love Py? Maulik

In [64]:
print(f"Hello, my name is {name} and I am {age} years old. Do I love Py? {lovesPy} {2+3}")

Hello, my name is Maulik and I am 26 years old. Do I love Py? True 5

In [ ]:
name =- "Maulik"
age = 28
language = "Python"

In [1]:
# This is a comment
# Initializing name variable
# Syntax 
# var_name = input("Instructons....")

In [10]:
name = input("Please enter your name : ")

print(f"Hello, {name}")

Hello, Maulik

In [11]:
name

'Maulik'

In [12]:
type(name)

str

In [17]:
age = input("Please enter your age : ")

In [18]:
age

'28'

In [19]:
type(age)

str

In [20]:
age = int(age)

In [21]:
age

28

In [22]:
type(age)

int

In [23]:
age = int(input("Please enter your age : "))

In [24]:
age

28

In [25]:
type(age)

int

In [26]:
age = int(input("Please enter your age : "))

ValueError: invalid literal for int() with base 10: 'Maulik'

In [27]:
name

'Maulik'

In [40]:
age = int(input(f"{name}, please enter your age : "))

In [29]:
disc = '''
Hello,
blah
blah
blah'''

In [38]:
disc

'\nHello,\nblah\nblah\nblah'

In [31]:
print("Hrllo,\nMaulik")

Hrllo,
Maulik

In [37]:
"""
sakjcdbaklsjdc
aschvabklja
aschhbasdijbcioajsn
"""

'\nsakjcdbaklsjdc\naschvabklja\naschhbasdijbcioajsn\n'

In [36]:
# Take user's name
# print user's name and greet him
# will ask user by his name to enter his age
# Ask what he loves to do and what is his fav prog. lang.

# we'll print a short bio of his....

In [26]:
name = input("Please enter your name : ")

In [30]:
age = int(input("Please enter your age : "))

In [31]:
name

'Maulik'

In [32]:
age

16

if, elif, else statements

syntax:
if condition:
    do something...
elif condition:
    do something else...
else:
    do anything... but do it now...

In [58]:
if age > 0:
    if age > 18:
        print(f"{name}, modi ne j vode de j")
    elif age > 15:
        print(f"Happy b'day mara vala ne...")
    elif age > 10:
        print("blah blah blah....")
    elif age > 15:
        print(f"Happy b'day {name}")
    else:
        print(f"{name}, to papa ne k j modi ne vote dye...")
else:
    print("Bhai tu tari duniya ma pacho ja....")

Maulik, modi ne j vode de j

In [35]:
print(2+3)

5

In [36]:
name = input("Please enter your name : ")

In [37]:
name

'Maulik'

In [38]:
type(name)

str

In [39]:
age = input("Please enter your age : ")

In [40]:
age

'27'

In [41]:
type(age)

str

In [42]:
age = int(age)

In [43]:
age

27

In [44]:
type(age)

int

In [45]:
age + 2

29

In [46]:
another_age = "27"

In [47]:
another_age + 2

TypeError: can only concatenate str (not "int") to str

In [48]:
age

27

In [49]:
age = str(age)

In [50]:
age

'27'

In [51]:
age = float(age)

In [52]:
age

27.0

In [53]:
age = int(age)

In [54]:
age

27

In [57]:
new_age = int(input("Please enter your age : "))

ValueError: invalid literal for int() with base 10: 'Maulik'

In [56]:
type(new_age)

int

In [1]:
"A"

'A'

In [3]:
a = "Maulik"

In [9]:
a[3]

'l'

In [8]:
a.index("l")

3