Sets in python are represented by {}
sets are unindexed and unordered
elements inside a set cannot be changed, they can be added or removed but cannot be changed....
sets only allow distinct values

In [2]:
lst = [1,2,3,4]

In [3]:
lst[2] = "Maulik"

In [4]:
lst

[1, 2, 'Maulik', 4]

In [5]:
set1 = {1,2,3,4,5}

In [6]:
set1

{1, 2, 3, 4, 5}

In [7]:
for i in set1:
    print(i)

1
2
3
4
5

In [8]:
set2 = {"Maulik", "Neel", "Ashish", "Ashwini", "Jatin", "Chirag", "Aanal"}

In [9]:
set2

{'Aanal', 'Ashish', 'Ashwini', 'Chirag', 'Jatin', 'Maulik', 'Neel'}

In [11]:
for i in set2:    # Meri marziiiiiiiiiiiii
    print(i)

Neel
Jatin
Ashish
Aanal
Ashwini
Maulik
Chirag

In [12]:
set3 = {1,2,3,4,5,1,2,3,4,5}

In [13]:
set3

{1, 2, 3, 4, 5}

In [15]:
set3.add("Chirag")

In [16]:
set3

{1, 2, 3, 4, 5, 'Chirag'}

In [17]:
set3.add("Jatin")

In [18]:
set3

{1, 2, 3, 4, 5, 'Chirag', 'Jatin'}

In [19]:
for i in set3:
    print(i)

1
2
3
4
5
Jatin
Chirag

In [20]:
set3.remove("Maulik")

KeyError: 'Maulik'

In [21]:
set3.remove("Chirag")

In [22]:
set3

{1, 2, 3, 4, 5, 'Jatin'}

In [23]:
set3.discard("Maulik")

## By Neel: if exactly mujhe yaad nahi aa raha hai ki kya hai....

## By ASHISH: No Idea....

In [29]:
if "Jatin" in set3:
    set3.remove("Maulik")

KeyError: 'Maulik'

In [28]:
print("Jatin" in set3)

True

In [30]:
name = input("Please enter what do you want to remove : ").capitalize()

In [31]:
if name in set3:
    set3.remove(name)

In [33]:
print("Maulik" == "Maulik")

True

In [34]:
for i in set3:
    if i == name:
        set3.remove(name)

In [42]:
set3 = {1,2,3,4,5,6}

for i in set3:
    if i == 3:
        set3.remove(i)

RuntimeError: Set changed size during iteration

In [43]:
lst = [1,2,3,4,5,6]

for i in lst:
    if i == 3:
        lst.remove(i)

In [44]:
lst

[1, 2, 4, 5, 6]

In [41]:
set3

{1, 2, 4, 5, 6, 'Maulik'}

In [45]:
set3

{1, 2, 4, 5, 6}

In [49]:
poped = set3.pop()

In [50]:
poped

4

In [51]:
set3

{5, 6}

In [53]:
set3 = {1,2,3,4,5,6,7,8}

In [54]:
set3

{1, 2, 3, 4, 5, 6, 7, 8}

In [63]:
set3.pop()

KeyError: 'pop from an empty set'

In [64]:
set4 = {"Maulik", "Neel", "Ashish", "Ashwini", "Jatin", "Chirag", "Aanal"}

In [72]:
set4.pop()

KeyError: 'pop from an empty set'