Tuple is known for having () brackets
it is unchangeable in nature

In [59]:
tpl = (1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,"Ashish")

In [60]:
type(tpl)

tuple

In [61]:
tpl.count(5)

3

In [62]:
tpl.index("Ashish")

15

In [63]:
for i in tpl:
    if i == 5:
        i = "Maulik"

In [64]:
tpl

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'Ashish')

In [65]:
tpl[5] = "Maulik"

TypeError: 'tuple' object does not support item assignment

In [ ]:
tpl = (1, 2, 3, 4, 5, 'Ashwini', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'Ashish')

In [ ]:
tpl = list(tpl)

In [ ]:
tpl

[1, 2, 3, 4, 5, 'Ashwini', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'Ashish']

In [ ]:
for index, value in enumerate(tpl):
    if value == 5:
        tpl.remove(value)
        tpl.insert(index, "Maulik")

index 		 value
-------------------------

In [ ]:
tpl

In [ ]:
tpl.insert(5, "Ashwini")

In [ ]:
tpl

[1, 2, 3, 4, 5, 'Ashwini', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'Ashish']

In [66]:
tpl = tuple(tpl)

In [67]:
tpl

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'Ashish')

In [68]:
a, b, c, d = (50,60,70,80)

In [69]:
a

50

In [70]:
b

60

In [71]:
c

70

In [72]:
d

80

In [79]:
a = ("Maulik",)

In [80]:
type(a)

tuple

In [77]:
b = ["Maulik"]

In [78]:
type(b)

list